:root {
	--brown: #b28167;
	--pink: #ffd8d8;
	--blue: #81c2c5;
	--black: #000000;
	--white: #ffffff;
	--red: #f05d5e;
}

body {
	background: var(--blue);
}

.container,
.ear,
.face,
.inner,
.eye,
.eye-fill,
.snout {
	position: absolute;
}

.container {
	width: 200px;
	height: 100px;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

}

.ear {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	top: -5px;
	left: -2px;
	background: var(--brown);
}

.ear--right {
	transform: translateX(120px);
}

.face {
	width: 200px;
	height: 190px;
	border-radius: 100%;
	background: var(--brown);
}

.inner {
	width: 50px;
	height: 50px;
	top: 8px;
	left: 10px;
	border-radius: 100%;
	background: var(--pink);
}

.inner--right {
	left: 20px;
}

.eye {
	width: 10px;
	height: 10px;
	top: 100px;
	left: 70px;
	border-radius: 100%;
	z-index: 10;
	background: var(--black);
}

.eye--right {
	transform: translateX(60px);
}

.eye-fill {
	width: 50px;
	height: 50px;
	top: 90px;
	left: 48px;
	border-radius: 100%;
	z-index: 9;
	background: var(--white);
}

.eye-fill--right {
	transform: translateX(60px);
}

.snout {
	width: 63px;
    height: 45px;
	top: 110px;
    left: 70px;
	border-radius: 100%;
	z-index: 11;
	background: #FDCFCF;
}

.nose {
	position: absolute;
	width: 15px;
	height: 7px;
    top: 4px;
    left: 24px;
	border-radius: 100%;
	background: var(--black);
}

.bridge {
	position: absolute;
	width: 2px;
    height: 10px;
    top: 10px;
	left: 30px;
	background: var(--black);
}

.mouth {
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 0% 0% 100% 100%;
    border-bottom: 2px solid;
    top: 15px;
    left: 26px;
}

.dummy {
	position: absolute;
	width: 27px;
    height: 18px;
    border-radius: 20px;
    top: 14px;
	right: 18px;
	background: var(--blue);
}

.dummy__oval {
	position: absolute;
	width: 17px;
    height: 12px;
    top: 4px;
    left: 5px;
	border-radius: 20px;
	background: var(--red);
}

.dummy__ring {
    position: absolute;
    top: 7px;
    left: 6px;
    width: 12px;
    height: 12px;
    border: 2px solid var(--red);
    border-radius: 20px;
  }