:root {
	--brown: #b28167;
	--pink: #ffd8d8;
	--blue: #81c2c5;
	--black: #000000;
	--white: #ffffff;
}

body {
	background: var(--blue);
}

.container,
.ear,
.face,
.inner,
.eye,
.eye-fill,
.snout {
	position: absolute;
}

.container {
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 200px;
	height: 100px;
}

.ear {
	top: -5px;
	left: -2px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background: var(--brown);
}

.ear--right {
	transform: translateX(120px);
}

.face {
	width: 200px;
	height: 190px;
	border-radius: 100%;
	background: var(--brown);
}

.inner {
	top: 8px;
	left: 10px;
	width: 50px;
	height: 50px;
	background: var(--pink);
	border-radius: 1000%;
}

.inner--right {
	left: 20px;
}

.eye {
	top: 100px;
	left: 70px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: var(--black);
	z-index: 10;
}

.eye--right {
	transform: translateX(60px);
}

.eye-fill {
	top: 90px;
	left: 48px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: var(--white);
	z-index: 9;
}

.eye-fill--right {
	transform: translateX(60px);
}

.snout {
	top: 110px;
    left: 70px;
    width: 63px;
    height: 45px;
	background: #FDCFCF;
	border-radius: 100%;
	z-index: 11;
}

.nose {
	position: absolute;
    top: 4px;
    left: 24px;
	width: 15px;
	height: 7px;
	background: var(--black);
	border-radius: 100%;
}
